name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
      - "!renovate/**"
    tags:
      - "v**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "20"
          cache: "yarn"

      - run: yarn --immutable

      - run: yarn exec prettier --check ./

      - run: yarn exec tsc --noEmit

      - run: yarn run build

      - run: |
          yarn pack
          tar zxvf package.tgz
        if: ${{ github.event_name == 'push' }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        if: ${{ github.event_name == 'push' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./package
          user_name: "github-actions"
          user_email: "41898282+github-actions[bot]@users.noreply.github.com"
          enable_jekyll: false
