name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
      - "!renovate/**"
    tags:
      - "v**"

jobs:
  build:
    runs-on: ubuntu-latest

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"

      - run: yarn

      - run: npm run format

      - run: npx tsc

      - run: npm run build
