name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
      - "!renovate/**"
    tags:
      - "v**"

jobs:
  build:
    runs-on: ubuntu-latest

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"

      - run: yarn

      - run: yarn exec prettier --check ./

      - run: yarn exec tsc

      - run: yarn run build

      - run: |
          yarn pack
          tar zxvf package.tgz
        if: ${{ github.event_name == 'push' }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./package
          user_name: "github-actions"
          user_email: "41898282+github-actions[bot]@users.noreply.github.com"
          enable_jekyll: false
          keep_files: false
